#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 6rem;
}

body {
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Comfortaa', cursive
}

.reviews {
  font-size: 12px;
  font-style: italic;
}

.footerIcons {
  border-right: solid 1px #dedede;
}

#email-and-ph {
  font-size: 14px;
  color: #89a670;
}

@media screen and (max-width: 767px) {
  #myPic {
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  #aboutMe {
    min-width: 100%;
  }

  #email-and-ph {
  font-size: 10px;
}
}